.taskContainer {
  width: 55%;
  margin-top: 104px;
}

.heading {
  margin-left: 40px;
}

.filterBtnContainer {
  display: flex;
  gap: 1rem;
  margin-top: 25px;
  margin-left: 40px;

  .filterBtn {
    background-color: #ffffff;
    border: 1px solid #002964;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    color: #002964;
    padding: 7px 2.4rem;
    cursor: pointer;
  }

  .filterSelected {
    background: #002964;
    color: white;
    transition: all 0.2s;
  }
}

.todoContainer::-webkit-scrollbar {
  width: 0;
  display: none;
}

.todoContainer {
  margin-right: 37px;
  margin-left: 40px;
  overflow: auto;
  height: calc(100% - 145px);
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .placeholderTitle {
    margin: auto;
    opacity: 0.8;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 850px) {
  .taskContainer {
    margin-top: 3rem;
  }

  .todoContainer {
    margin-left: 20px;
    margin-bottom: 1rem;
  }

  .heading {
    margin-left: 20px;
  }

  .filterBtnContainer {
    margin-left: 20px;

    .filterBtn {
      padding: 10px 26px;
    }
  }
}
